{% extends "_layouts/site.html" %}

{% block content %}
<script defer src="https://buttons.github.io/buttons.js"></script>

<div id="main-content" class="p-section--hero">
  <div class="row--25-75">
    <div class="col">
      <div class="p-section--shallow">
        <h1>Percy GHA Test</h1>
        <p class="p-heading--2">Testing Percy GHA Migration</p>
      </div>

      <div class="p-section--shallow">
        <ul class="p-inline-list u-no-margin--bottom">
          <li class="p-inline-list__item">
            <a href="https://github.com/canonical//test-web-percy-gha-migration" target="_blank" class="p-button--positive u-no-margin--bottom">GitHub Repo</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}